header {box-sizing:border-box
  font-family 'Noto Sans JP', sans-serif;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:rgb(107, 109, 110);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 70px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  background: rgb(211, 240, 250);
  opacity: .8;
}

/* Number text (1/3 etc) */
.numbertext {
  color: lightgray;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.main-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.latest-news{
  padding: 5% 15%;
}

form {
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  margin-block-end: 1em;
}

textarea{
  font-family: inherit;
  font-size: inherit;
}

#submit {
  font-size: 30px;
  background-color: rgb(197, 197, 197);
  border-radius: 12px;
  width: 250px;
  align-self:center;
  padding: 10px;
  margin-top: 10px;
}

h2{
  font-size: 40px;
  color:#0f0f0f;
  background-image: linear-gradient(to bottom, rgb(133, 201, 233), rgb(179, 207, 216));
  text-align: center;
  border-radius: 50px;
}

p{
  font-size: 30px;
}

.blog-image{
  max-width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.blog{
  display: flex;
  flex-direction: column;
  padding: 5% 15%;
}

.contact{
  padding: 5% 15%;
}

.button{
  font-size: 30px;
  background-color: rgb(197, 197, 197);
  border-radius: 12px;
  width: 300px;
  align-self:center;
  padding: 10px;
  
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:rgb(214, 243, 253);
  border-bottom: black solid 2px;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}

nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: black;
  font-size: 20px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, rgb(133, 201, 233), rgb(179, 207, 216));
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

main{
  display: flex;
  margin: 25px 0 0 0;
  padding: 0px 80px 60px 80px;
  flex-direction: row;
  justify-content: space-around;
}

footer{
  background-image: url("jewelry site photos/bracelet-5003797_1920.png");
  background-size: 350px;
  padding-bottom: 20px;
  padding-top: 30px;
  align-items: center;
  text-align: center;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 750px) {
   nav {
     display: flex;
     flex-direction: column;
   }
   h2{
     font-size: 30px;
   }
   p{
     font-size: 20px;
   }
   .main-cont{
     display: flex;
     flex-direction: column;
   }
   nav>a{
    font-size: 20px;
   }
   .text{
     font-size: 18px;
   }
   .numbertext{
     font-size: 18px;
   }
   .button{
     font-size: 18px;
     width: 50%;
   }
   #submit {
    font-size: 18px;
  }
  .form{
    font-size: 18px;
  }
}
